# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
ENV/
env/

# Database files
*.db
*.sqlite

# environment variables
.env

# IDE configurations (IntelliJ, VS Code, etc.)
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
